<%= render 'shared/navbar' %>

<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1><%= current_user.email %></h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              
          <ul class="list-group">
            <li class="list-group-item text-muted">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span><%= current_user.created_at.to_date %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span><%= current_user.last_sign_in_at.to_date %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Name</strong></span><%= current_user.name %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Surname</strong></span><%= current_user.surname %></li>
          </ul> 
               
       	</div>
       	<div class="col-sm-9">
       		<table class="table">
       			<thead>	
       				<th>Restaurant</th>
       				<th>Last visit</th>
       			</thead>
       			<tbody>
       				<tr class="info">
       					<td>Rest1</td>
       					<td>Jednom</td>
       				</tr>
       			</tbody>
       		</table>

       	</div>
    </div>

    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              
          <ul class="list-group">
            <li class="list-group-item text-muted">Friends</li>
            <% @friends.each do |friend| %>
	            <li class="list-group-item"><span class="pull-right"><strong><%= button_to "Remove", friendship_path(friend), method: :delete%></strong></span><%= link_to "#{friend.name} #{friend.surname}", user_path(friend)%></li>
            <% end %>
          </ul> 
       	</div>

       	  <div class="col-sm-3"><!--left col-->
              
          <ul class="list-group">
            <li class="list-group-item text-muted">Friend requests</li>
            <% current_user.requested_friends.each do |friend| %>
	            <li class="list-group-item"><span class="pull-right"><strong><%= link_to "Add", accept_request_friendship_path(friend)%></strong></span><%= link_to "#{friend.name} #{friend.surname}", user_path(friend)%></li>
            <% end %>
          </ul> 
       	</div>


    </div>

</div>
