<div class="container">
<h1>Edit Manager</h1>

<%= form_for :manager, url: manager_path(@manager), method: :patch do |f| %>

  <div class = "form-group">
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  </div>

  <div class = "form-group">
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  </div>

  <div class = "form-group">
  <p>
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </p>
  </div>

  <div class = "form-group">
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
  </div>
  
  <div class = "form-group">
  <p>
    <%= f.submit 'Save', class: "btn" %>
  </p>
  </div>

<% end %>
</div>