<h1>New Manager</h1>

<%= form_for :user, url: managers_path do |f| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@manager.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @manager.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>