<div class="container">

	<div class="row">
		<div class="col-sm-10">
		    <div class="panel panel-primary">
		      	<div class="panel-heading">Meals</div>
		      	<div class="panel-body">
		    		<table class = "table">
						<thead>
							<th>#</th>
							<th>Name</th>
							<th>Description</th>
							<th>Price</th>
						</thead>
						<tbody>
						<% @meals.each_with_index do |meal, idx| %>
							<tr>
								<td><%= idx + 1 %></td>
								<td><%= "#{meal.name}" %></td> 
								<td><%= "#{meal.description}" %></td>
								<td><%= "#{meal.price}" %></td>
								<td><%= link_to 'Edit', edit_meal_path(meal) %></td>
								<td><%= button_to 'Delete', meal_path(meal), method: :delete, class: 'btn' %></td>
							</tr>
						<% end %>
						</tbody>
					</table>
		      	</div>
		      	<%= link_to 'Add Meal', new_meal_path%>
		    </div>
		</div>
	</div>
<div/>