<h1> Edit rest plox </h1>

<%=  form_for :restaurant, url: restaurant_path(@rest), method: :patch do |f| %>
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>

<% end %>