<div class = "container">
<h1> New Restaurant </h1>

<%= form_for :restaurant, url: restaurants_path do |f| %>

  <div class="form-group">
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
  </div>
  <div class="form-group">
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
  </div>
  <div class="form-group">
    <p>
      <%= f.submit 'Save', class: "btn" %>
    </p>
  </div>
<% end %>
</div>